*{
	padding: 0;
	margin: 0;
}
html{
	overflow-x: hidden;
	height: 100vh;
}
.wrapper{
	position: relative;
	width: 100%;
}
.position{
	position: relative;
	width: 1250px;
	margin: 0 auto;
}
/*-----/////HEADER/////-----*/
.header{
	position: relative;
	width: 100%;
	height: 100px;
	background: url(../img/HeaderAdmin.jpg) no-repeat center;
	background-size: cover;
	border-bottom: 2px solid #911e42;
}
.panel_controll{
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #000000;
	opacity: 0.8;
}
.title_admin{
	position: relative;
	font-family: 'RobotoCondensedBold';
	font-size: 35pt;
	top: 20px;
	text-transform: uppercase;
	color: #ffffff;
}
.panel_simbol{
	color: #911e42;
}
.log_button{
	position: absolute;
	top: 40px;
	right: 0px;
}
.log_button li{
	display: inline-block;
	font-family: 'ProximaNovaSemibold';
	font-size: 12pt;
	color: #ffffff;
	-webkit-transition: color 0.12s ease;
	-moz-transition: color 0.12s ease;
	-ms-transition: color 0.12s ease;
	transition: color 0.12s ease;
}
.link_style{
	cursor: pointer;
	text-decoration: none;
	color: #ffffff;
	-webkit-transition: color 0.12s ease;
	-moz-transition: color 0.12s ease;
	-ms-transition: color 0.12s ease;
	transition: color 0.12s ease;
}
.link_style:hover{
	color: #911e42;
}
.break_line{
	color: #911e42;
}

/*-----/////КОНТЕНТ/////-----*/
.content{
	background-color: #000000;
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
}
.admin_view{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-around;
	height: 90vh;
	border-top: 2px solid #999999;
	border-bottom: 2px solid #999999;
}
.admin_bar{
	position: relative;
	top: 4vh;
	border: 2px solid #999999;
	width: 20%;
	height: 130px;
}
.info_bar{
	position: relative;
	top: 4vh;
	width: 75%;
	height: 82vh;
}
.title_menu{
	position: relative;
	top: 5px;
	left: 10px;
	font-family: 'ProximaNovaBold';
	text-transform: uppercase;
	color: #ffffff;
	font-size: 12pt;
}
.admin_bar_style li{
	position: relative;
	display: block;
	top: 15px;
	list-style: none;
	font-family: 'ProximaNovaBold';
	color: #ffffff;
	font-size: 18pt;
	width: 100%;
	height: 35px;
	margin-bottom: 12px;
}
.button_position{
	background-color: #911e42;
	position: relative;
	display: block;
	text-align: center;
	width: 180px;
	height: 33px;
	left: 30px;
	border-radius: 2px;
}
#orders{
	width: 100px;
}
.table_position{
	position: relative;
	top: -20px;
}
.table_style tr th{
	background-color: #911e42;
	width: 125px;
	height: 35px;
	font-family: 'ProximaNovaSemibold';
	color: #ffffff;
	font-size: 10pt;
}
.table_style tr td{
	background: #ffffff;
	font-family: 'RobotoCondensedBold';
	color: #000000;
	text-align: center;
	font-size: 10pt;
}
.table_style{
	display: block;
	position: relative;
	height: 590px;
	border-spacing: 0px 2px;
}
.button_delete{
	background-color: #911e42;
	font-family: 'ProximaNovaSemibold';
	color: #ffffff;
	border: 2px solid #000000;
	border-radius: 2px;
	width: 90px;
	height: 45px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.button_update{
	background-color: #911e42;
	font-family: 'ProximaNovaSemibold';
	color: #ffffff;
	text-transform: uppercase;
	font-size: 9pt;
	border: 2px solid #000000;
	border-radius: 2px;
	width: 90px;
	height: 35px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.link_style_bar{
	cursor: pointer;
	text-decoration: none;
	color: #ffffff;
}
.link_style_bar{
	color: #ffffff;
}
.status_style{
	font-family: 'ProximaNovaSemibold';
	color: #ffffff;
	background-color: #911e42;
	width: 110px;
	height: 35px;
	border: 2px solid #000000;
	margin-top: 5px;
	margin-bottom: 5px;
}
/*-----/////FOOTER/////-----*/
.footer{
	background-color: #000000;
	position: relative;
	border-top: 2px solid #911e42;
	width: 100%;
	height: 50px;
}
.copyrite{
	font-family: 'ProximaNovaSemibold';
	color:  #999999;
	font-size: 10pt;
	display: block;
	position: relative;
	top: 11px;
	height: 25px;
	border-top: 2px solid #999999;
	padding-top: 10px;
}
#jrc_style{
	text-transform: uppercase;
}