*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #000000;
}
html{
	overflow-x: hidden;
}
.wrapper{
	width: 1150px;
	margin: 0 auto;
	position: relative;
}
.error_message{
	position: absolute;
	top: 85px;
	font-family: 'RobotoCondensedBold';
	font-size: 14pt;
	color: #911e1e;
	z-index: 1000;
}
.authform{
	width: 285px;
	position: absolute;
	right: 0px;
}
.link_form_style{
	cursor: pointer;
	text-decoration: none;
}
.selectform{
	font-family: 'ProximaNovaSemibold';
	font-size: 23pt;
	color: #999999;
}
#login{
	position: absolute;
	top: 110px;
	color: #911e42;
	border-bottom: 2px solid #911e42;
}
#registration{
	position: absolute;
	right: 0px;
	top: 110px;
}
.inputform{
	position: relative;
	background: none;
	margin-bottom: 15px;
	width: 285px;
	height: 35px;
	border: 2px solid #999999;
	font-family: 'ProximaNovaSemibold';
	color: #ffffff;
	-webkit-transition: border 0.2s ease;
	-moz-transition: border 0.2s ease;
	-ms-transition: border 0.2s ease;
	transition: border 0.2s ease;
}
.inputform:focus{
	border-color: #911e42;
}
.labelform{
	font-family: 'ProximaNovaSemibold';
	color: #999999;
	font-size: 10pt;
}
.log_position{
	position: relative;
	top: 165px;
}
.loginin{
	background-color: #911e42;
	width: 289px;
	height: 50px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	font-size: 13pt;
	border: none;
	position: relative;
	top: 170px;
}
.styletext{
	font-family: 'ProximaNovaSemibold';
	position: relative;
	color: #999999;
	top: 160px;

}
input[type = "checkbox"]{
	display: none;
}
input[type = "checkbox"] + label span{
	position: relative;
	top: 2px;
	cursor: pointer;
	display: inline-block;
	margin-right: 10px;
	width: 10px;
	height: 10px;
	border: 2px solid #999999;
}
input[type = "checkbox"]:checked + label span{
	background-color: #999999;
}
.lostpass{
	position: relative;
	font-family: 'ProximaNovaSemibold';
	color: #999999;
	top: 90px;
	left: 160px;
}
.img_position{
	position: absolute;
}