/*-----/////ПОДВАЛ/////-----*/
.footer{
	position: relative;
	background-color: #000000;
	width: 100%;
	height: 300px;
}
.footer_menu{
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	height: 260px;
	border-bottom: 2px solid #999999;
}
.fblock_menu{
	width: 33%;
	height: 260px;
}
.flogo{
	position: relative;
	top: 0px;
	font-family: 'RobotoCondensedBold';
	font-size: 44pt;
	text-transform: uppercase;
	color: #ffffff;
}
#fdomen{
	position: absolute;
	font-family: 'ProximaNovaBold';
	font-size: 16pt;
	text-transform: none;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg); 
	-ms-transform: rotate(-90deg); 
	color: #ffffff;
	bottom: 20px;
	left: 90px;
}
#fpoint{
	position: relative;
	font-family: 'ProximaNovaBold';
	font-size: 6pt;
	left: -2px;
	bottom: 6px;
}
.ftext{
	font-family: 'ProximaNovaSemibold';
	color: #999999;
	font-size: 10pt;
	display: block;
	position: relative;
	top: 12px;
	left: 25px;
}
.fsubtext{
	font-family: 'RobotoCondensedBold';
	font-size: 18pt;
	color: #ffffff;
	position: relative;
	top: 6px;
	left: 30px;
}
.fcontact_menu li{
	display: block;
	list-style: none;
	margin-bottom: 20px;
	font-family: 'ProximaNovaSemibold';
	color: #999999;
	font-size: 11pt;
	position: relative;
	top: 20px;
	left: 45px;
	-webkit-transition: color 0.12s ease;
	-moz-transition: color 0.12s ease;
	-ms-transition: color 0.12s ease;
	transition: color 0.12s ease;
}
.hover_style li:hover{
	color: #911e42;
}
.menu_list{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: relative;
	top: 7px;
}
#fsubtext_position{
	left: 60px;
}
.icon_position{
	position: relative;
	top: 5px;
	margin-right: 10px;
}
#femail{
	text-transform: uppercase;
}
.ftext_style{
	cursor: pointer;
	text-transform: uppercase;
}
.copyrite{
	font-family: 'ProximaNovaSemibold';
	color:  #999999;
	font-size: 10pt;
	display: block;
	position: relative;
	top: 10px;
}
#jrc_style{
	text-transform: uppercase;
}