/*-----/////ШАПКА/////-----*/
.header{
	position: relative;
	background: url(../img/Header.jpg) no-repeat center;
	background-size: cover;
	width: 100%;
	height: 400px;
	border-bottom: 2px solid #911e42;
}
.navigation{
	position: relative;
	background-color: #000000;
	opacity: 0.8;
	width: 100%;
	height: 80px;
	border-bottom: 2px solid #911e42;
}
.logo{
	position: relative;
	top: -6px;
	width: 160px;
	font-family: 'RobotoCondensedBold';
	font-size: 58pt;
	text-transform: uppercase;
	color: #ffffff;
}
#domen{
	position: absolute;
	font-family: 'ProximaNovaBold';
	font-size: 24pt;
	text-transform: none;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg); 
	-ms-transform: rotate(-90deg); 
	color: #ffffff;
	bottom: 23px;
	left: 115px;
}
#point{
	position: relative;
	font-family: 'ProximaNovaBold';
	font-size: 8pt;
	left: -2px;
	bottom: 9px;
}
.jcolor{
	color: #911e42;
}
.link_decor{
	cursor: pointer;
	text-decoration: none;
}
.nav_button li{
	position: relative;
	top: -63px;
	left: 150px;
	display: inline-block;
	list-style: none;
	margin-left: 20px;
	font-family: 'ProximaNovaSemibold';
	text-transform: uppercase;
	font-size: 12pt;
	color: #ffffff;
	cursor: pointer;
	-webkit-transition: color 0.12s ease;
	-moz-transition: color 0.12s ease;
	-ms-transition: color 0.12s ease;
	transition: color 0.12s ease;
}
.nav_button li:hover{
	color: #911e42;
}
.log_button li{
	display: inline-block;
	font-family: 'ProximaNovaSemibold';
	font-size: 12pt;
	color: #ffffff;
	-webkit-transition: color 0.12s ease;
	-moz-transition: color 0.12s ease;
	-ms-transition: color 0.12s ease;
	transition: color 0.12s ease;
}
.link_style{
	cursor: pointer;
	text-decoration: none;
	color: #ffffff;
	-webkit-transition: color 0.12s ease;
	-moz-transition: color 0.12s ease;
	-ms-transition: color 0.12s ease;
	transition: color 0.12s ease;
}
.link_style:hover{
	color: #911e42;
}
.link_style_buy{
	text-decoration: none;
	color: #000000;
}
#log_personal_out{
	position: absolute;
	top: 30px;
	right: 20px;
}
#log_personal_in{
	position: absolute;
	top: 30px;
	right: 20px;
}
.break_line{
	color: #911e42;
}
#user_position{
	position: relative;
	top: 2px;
	left: -3px;
}
.orderbuy{
	text-align: center;
	font-family: 'ProximaNovaBold';
	font-size: 30pt;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #911e42;
	width: 100px;
	height: 80px;
}
#buy{
	position: relative;
	top: 0.5px;
	left: -0.5px;
}
.radius_buy{
	position: relative;
	top: 12px;
	margin-left: auto;
	margin-right: auto;
	width: 50px;
	height: 50px;
	border: 5px solid #000000;
	border-radius: 85px;
}