*{
	padding: 0;
	margin: 0;
}
html{
	overflow-x: hidden;
}
.wrapper{
	position: relative;
	width: 100%;
}
.position{
	position: relative;
	width: 1150px;
	margin: 0 auto;
}
/*-----/////КОНТЕНТ/////-----*/
.content{
	position: relative;
	background-color: #000000;
	width: 100%;
	height: 760px;
	border-bottom: 2px solid #911e42;
}
.content_block{
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	height: 380px;
}
.cblock_one{
	width: 50%;
	height: 380px;
}
.cblock_two{
	position: relative;
	width: 20%;
	height: 350px;
}
#content_rowstyle{
	justify-content: space-around;
	align-items: center; 
}
#linestyle{
	border-bottom: 2px solid #999999;
}
.csubtext{
	font-family: 'RobotoCondensedBold';
	font-size: 25pt;
	color: #ffffff;
	position: relative;
	top: 25px;
}
.ctext{
	font-family: 'ProximaNovaSemibold';
	color: #999999;
	font-size: 12pt;
	display: block;
	position: relative;
	top: 70px;
	left: 25px;
	line-height: 1.5;
}
#csubtext_position{
	left: 35px;
}
.tunelist li{
	font-family: 'ProximaNovaSemibold';
	color: #999999;
	font-size: 13.5pt;
	list-style: none;
	display: block;
	position: relative;
	left: 85px;
	top: 72px;
	margin-bottom: 8px;
}
.tunelist_style{
	position: absolute;
	top: -2px;
	left: -30px;
	width: 25px;
	height: 25px;
	background-color: #911e42;
}
.numberlist_position{
	position: relative;
	color: #ffffff;
	font-size: 13pt;
	left: 6px;
	top: 3px;
}
#content_projectstyle{
	width: 55%;
	border-bottom: 2px solid #911e42;
	border-top: 2px solid #911e42;
	background: url(../img/Project.jpg) no-repeat center;
	background-size: cover;
}
.project_title{
	width: 100%;
	height: 50px;
	background-color: #000000;
	opacity: 0.7;
}
.title_style{
	font-family: 'ProximaNovaSemibold';
	color: #ffffff;
	font-size: 14pt;
	text-transform: uppercase;
	display: block;
	position: relative;
	top: 12px;
	left: 25px;
}
.project_button{
	position: absolute;
	right: 15px;
	bottom: 10px;
	font-family: 'ProximaNovaSemibold';
	color: #ffffff;
	font-size: 10pt;
	text-transform: uppercase;
	opacity: 0.9;
	width: 120px;
	height: 30px;
	text-align: center;
	background-color: #911e42;
}
.text_button_position{
	position: relative;
	top: 6px;
}
#content_newsstyle{
	border: 2px solid #911e42;
	background-color: #ffffff;
}
.news_title{
	width: 100%;
	height: 50px;
	background-color: #911e42;
}
#content_stockstyle{
	border-bottom: 2px solid #911e42;
	border-top: 2px solid #911e42;
	background: url(../img/Stock.jpg) no-repeat center;
	background-size: cover;
}
.stock_title{
	width: 100%;
	height: 50px;
	background-color: #911e42;
}
.stockspec{
	width: 100%;
	height: 130px;
	position: absolute;
	bottom: 0px;
	background-color: #000000;
	opacity: 0.7;
}
.stockspec_title{
	display: block;
	font-family: 'ProximaNovaSemibold';
	color: #ffffff;
	font-size: 14pt;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	top: 40px;
}
.news_list li{
	position: relative;
	display: block;
	font-family: 'ProximaNovaSemibold';
	color: #000000;
	font-size: 10.5pt;
	margin-bottom: 15px;
	left: 10px;
	top: 20px;
}
.read_then{
	color: #911e42;
}