*{
	padding: 0;
	margin: 0;
}
html{
	overflow-x: hidden;
}
.wrapper{
	position: relative;
	width: 100%;
}
.position{
	position: relative;
	width: 1150px;
	margin: 0 auto;
}
/*-----/////КОНТЕНТ/////-----*/
.content{
	position: relative;
	display: flex;
	align-items: center;
	background-color: #000000;
	width: 100%;
	height: 760px;
	border-bottom: 2px solid #911e42;
}
.title_page{
	text-align: left;
	font-family: 'RobotoCondensedBold';
	color: #ffffff;
	font-size: 23pt;
	text-transform: uppercase;
}
.title_startsimbol{
	color: #911e42;
}
.office{
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 640px;
	border-top: 2px solid #999999;
	border-bottom: 2px solid #999999;
}
.office_sidebar{
	position: relative;
	display: flex;
	width: 20%;
	height: 400px;
	top: 25px;
	border: 2px solid #999999;
	border-radius: 2px;
}
.personal_data{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
	left: 25px;
}
.input_personal{
	position: relative;
	top: 15px;
	width: 175px;
	height: 25px;
	background: none;
	border: 2px solid #999999;
	border-radius: 2px;
	font-family: 'ProximaNovaSemibold';
	color: #ffffff;
	-webkit-transition: border 0.2s ease;
	-moz-transition: border 0.2s ease;
	-ms-transition: border 0.2s ease;
	transition: border 0.2s ease;
}
#password_style{
	font-size: 8pt;
}
.click_personal{
	position: relative;
	width: 175px;
	height: 35px;
	border: none;
	background-color: #911e42;
	font-family: 'ProximaNovaSemibold';
	color: #ffffff;
	text-transform: uppercase;
	font-size: 10pt;
	border-radius: 2px;
}
#save_data{
	display: none;
}
.label_style{
	position: absolute;
	font-family: 'ProximaNovaSemibold';
	color: #999999;
	font-size: 10pt;
}
#personal_name_pos{
	top: 15px;
}
#personal_second_pos{
	top: 82px;
}
#personal_phone_pos{
	top: 148px;
}
#personal_email_pos{
	top: 214px;
}
#personal_password_pos{
	top: 279px;
}
.office_workwin{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 640px;
}
.table_order{
	display: block;
	position: relative;
	height: 590px;
	border-spacing: 0px 2px;
}
.tbody_skroll{
	display: block;
	height: 550px;
	overflow: hidden;
    overflow-y: auto;
}
.tbody_skroll tr{
	display: table;
    width: 875px;
    table-layout: fixed;
}
.table_order tr th{
	background-color: #911e42;
	width: 125px;
	height: 35px;
	font-family: 'ProximaNovaSemibold';
	color: #ffffff;
	font-size: 10pt;
}
.table_order tr td{
	background: #ffffff;
	font-family: 'RobotoCondensedBold';
	color: #000000;
	text-align: center;
	font-size: 10pt;
}