*{
	padding: 0;
	margin: 0;
}
html{
	overflow-x: hidden;
}
.wrapper{
	position: relative;
	width: 100%;
}
.position{
	position: relative;
	width: 1150px;
	margin: 0 auto;
}
/*-----/////КОНТЕНТ/////-----*/
.content{
	display: flex;
	align-items: center;
	position: relative;
	background-color: #000000;
	width: 100%;
	height: 760px;
	border-bottom: 2px solid #911e42;
}
.errors_order{
	display: none;
	position: absolute;
	left: 480px;
	font-family: 'RobotoCondensedBold';
	font-size: 15pt;
	color: #911e1e;
}
.title_page{
	text-align: left;
	font-family: 'RobotoCondensedBold';
	color: #ffffff;
	font-size: 23pt;
	text-transform: uppercase;
}
.title_startsimbol{
	color: #911e42;
}
.form_style{
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 640px;
	border-top: 2px solid #999999;
	border-bottom: 2px solid #999999;
}
.select_style{
	background: #000000;
	position: relative;
	width: 250px;
	height: 45px;
	border: 2px solid #999999;
	font-family: 'ProximaNovaSemibold';
	color: #ffffff;
	-webkit-appearance: none;
	-moz-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px; 
	text-overflow: '';
	-ms-appearance: none;
  	appearance: none!important;
    background-image: url(../img/icon/Select.png);
    background-position: right center;
    background-repeat: no-repeat;
    -webkit-transition: border 0.2s ease;
	-moz-transition: border 0.2s ease;
	-ms-transition: border 0.2s ease;
	transition: border 0.2s ease;
	border-radius: 2px;
}
.select_style:focus{
	border-color: #911e42
}
.toyota_model{
	display: none;
}
.honda_model{
	display: none;
}
.nissan_model{
	display: none;
}
.ago_avto{
	display: none;
}
.service{
	display: none;
}
.textarea_style{
	background: #000000;
	position: relative;
	width: 450px;
	height: 250px;
	border: 2px solid #999999;
	font-family: 'ProximaNovaSemibold';
	color: #ffffff;
	font-size: 10.5pt;
	-webkit-transition: border 0.2s ease;
	-moz-transition: border 0.2s ease;
	-ms-transition: border 0.2s ease;
	transition: border 0.2s ease;
	border-radius: 2px;
}
.textarea_style:focus{
	border-color: #911e42;
}
.clickbuy_style{
	position: relative;
	top: -100px;
	left: -400px;
	background-color: #911e42;
	width: 240px;
	height: 55px;
	font-family: 'ProximaNovaSemibold';
	color: #ffffff;
	text-transform: uppercase;
	font-size: 15pt;
	border: none;
	border-radius: 2px;
}
.label_style{
	margin-bottom: 5px;
	font-family: 'ProximaNovaSemibold';
	color: #999999;
	font-size: 10pt;
}
.ordering_form{
	position: relative;
	top: -15px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}