*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #000000;
}
html{
	overflow-x: hidden;
}
.wrapper{
	width: 1150px;
	margin: 0 auto;
	position: relative;
}
.registform{
	width: 285px;
	position: absolute;
	right: 0px;
}
.link_form_style{
	cursor: pointer;
	text-decoration: none;
}
.selectform{
	font-family: 'ProximaNovaSemibold';
	font-size: 23pt;
	color: #999999;
}
#login{
	position: absolute;
	top: 60px;
}
#registration{
	position: absolute;
	right: 0px;
	top: 60px;
	color: #911e42;
	border-bottom: 2px solid #911e42;
}
.inputform{
	position: relative;
	background: none;
	margin-bottom: 15px;
	width: 285px;
	height: 25px;
	border: 2px solid #999999;
	border-radius: 2px;
	font-family: 'ProximaNovaSemibold';
	color: #ffffff;
}
.labelform{
	font-family: 'ProximaNovaSemibold';
	color: #999999;
	font-size: 10pt;
}
.input_positon{
	position: relative;
	top: 105px;
}
.registration{
	background-color: #911e42;
	width: 289px;
	height: 50px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	font-size: 13pt;
	border: none;
	position: relative;
	top: 115px;
	border-radius: 2px;
}
.img_position{
	position: absolute;
}